header {
 background-color: #ffffff;
 border-bottom: 1px solid #f1f1f1;
}


nav {
 max-width: 1440px;
 height: 70px;
 margin: 0 auto;


 display: flex;
 align-items: center;
 justify-content: space-between;


 padding-left: 120px;
 padding-right: 120px;
}
.manu {
 list-style: none;
 display: flex;
 gap: 40px;
}


.manu li a {text-decoration: none;
 font-size: 15px;
 font-weight: 500;
 color: #111827;
}
.btm{
  background:green;
 color: #ffffff;
 padding: 14px 28px;
 font-size: 16px;
 font-weight: 600;
 border: 1px solid rgba(255,255,255,0.6);
 border-radius: 6px;
 cursor: pointer;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Inter", sans-serif;
}
